*{
    font-family: "Gill Sans", sans-serif;
}
.task2{
    height: 350px;
    width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: #eaeaea;
}
.wrapper{
    border: 1px solid darkgrey;
}
.dataBlock{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}

.dataBlock>*{
    width: 380px;
    margin-top: 20px;
    word-wrap: anywhere;
}

.pBlock{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}