*{
    font-family: "Gill Sans", sans-serif;
}
.task1{
    height: 500px;
    width: 800px;
    margin: 20px;
    padding: 20px;
    background-color: bisque;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.wrapper{
    background: linear-gradient(180deg, #eaeaea, #b9b9b9);
    border: 1px solid dimgrey;
    height: 435px;
    width: 40px;
    position: relative;
    top: 53px;
    font-size: 80px;
}

span{
    position: relative;
    top: 140px;
    left: -5px;
}

#input, #output{
    border: none;
    box-shadow: none;
    resize: none;
    font-size: 14px;
}
